# Python & Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.bak

# PyInstaller build cache
build/
build_smd/
build_hub/
*.spec

# Android Build & Gradle
.gradle/
**/build/
local.properties
.idea/
.vscode/
*.iml
/.agents/
.venv/

# Allow release binaries in dist
!dist/
!dist/*
