# Python & Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.bak

# PyInstaller / Build artifacts
build/
build_smd/
build_hub/
dist/
*.spec

# Android Build & Gradle
.gradle/
**/build/
local.properties
*.apk
*.aab
.idea/
.vscode/
*.iml
.agents/
.venv/
