*.iml
.gradle
local.properties
/local.properties
.idea
/.idea
.DS_Store
build/
/build
captures/
/captures
.externalNativeBuild
.cxx
.venv
*.pem
*.key
*.jks
*.keystore
rustore_config.json
rustore_secrets.json
release-key.jks
